<div>
    <div style="background-color:#f0f5fa;">
        <div style="padding-bottom:10px; padding-top:10px; margin: 0 auto; border-radius: 8px;">
            <div style="width:100%; border-radius: 8px;">
                <img style="border-radius: 8px; text-align:center; width:125px; margin: 20px auto; display: block;" src="https://firebasestorage.googleapis.com/v0/b/vticket-1ccb9.appspot.com/o/VTicket.png?alt=media&token=b31dd76a-01a7-463a-a07f-eb805098ae3c">
            </div>
        </div>
        <div style="background-color:#fff; padding-bottom:20px; padding-top:20px">
            <div style="vertical-align:middle; width:100%;">
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:25px;"><span>Xin chào,</span></div>
                <br>
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:25px;">Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Dưới đây là mật khẩu mới để bạn có thể truy cập vào tài khoản của mình:</div>
                <br>
                <div style="text-align:center; font-size:30px; font-weight:bold; font-family:open Sans Helvetica, Arial, sans-serif">{{new_password}}</div>
                <br> 
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:16px">Chúng tôi khuyến khích bạn đổi mật khẩu sau khi đăng nhập vào tài khoản để bảo mật thông tin cá nhân của bạn. Đồng thời, vui lòng không chia sẻ thông tin đăng nhập này với bất kỳ ai.ồng thời, vui lòng không chia sẻ thông tin đăng nhập này với bất kỳ ai.</div>
                <br>
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:16px">Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng liên hệ với chúng tôi ngay lập tức để chúng tôi có thể kiểm tra và giúp bạn bảo vệ tài khoản của mình.</div>
                <br>
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:16px">Xin cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</div>
                <br>
                <div style="text-align:center; font-size:20px; font-family:open Sans Helvetica, Arial, sans-serif; padding-left:25px; padding-right:25px">Chân thành cảm ơn! <br/><br/><b>VTicket team</b></div>
            </div>
        </div>
    </div>
</div> 